.banner-sec {
    height: calc(100vh - 120px);
    text-align: center;
}
#background {
    position: relative;
    z-index: 0;
    height: 100vh;
    !display: flex;
    !justify-content: center;
    !flex-direction: column;
}
#bg-text {
    color:#f0f0f0;
    font-size:200px;
    user-select: none;
}
p.myptag {
    font-size: 70px;
}
.entry-content {
    margin-top: 120px;
}
.wrap {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.box {
  transform: translateY(0px);
}
.box {
    transition: 1s;
}
h1{
	padding:0px;
	margin:0px;
}
h2{
	font-size: 40px;
	font-weight: 600;
	padding:0px;
	margin:0px;
	line-height:40px;
}
.item h1 {
    margin-bottom: 20px;
}
p {
    margin: 0;
}
section.banner-section {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 80px;
}
section.related-article.side-space .col-lg-12.daily-update.post {
    padding: 0;
	display:flex;
	flex-wrap: wrap;
    align-items: center;
}
section.banner-section.related-article.side-space .col-lg-12.daily-update.post ul.name-date {
    margin-bottom: 0px;
}
/* Section banner css start */
	ul.name-date {
		display: inline-flex;
		list-style-type: none;
		margin-bottom: 20px;
	}
	ul.name-date li {
		padding:2px 15px;
		list-style-type: none;
	}
	ul.name-date li:first-child {
		padding-left: 0px;
		border-right: solid 2px #000;
	}
	/* Section banner css end */
	a.anhor-hover:hover{
		text-decoration: none;
	}
	a.anhor-hover:hover h2, a.anhor-hover:hover ul.name-date li {
		color: #000;
		text-decoration: none;
	}
	.col-lg-12.daily-update a{
		!display: flex !important;
		!flex-wrap: wrap;
		!align-items: center;
		!padding: 0px 5%;
	}	
	.daily-update-view-all{
		text-align: right;
		!padding: 0px 5%;
	}
	.col-lg-12.daily-update img {
		height: 420px;
		object-fit: cover;
		width: 100%;
	}
	.daily-update img {
		margin-top: 80px;
	}
	.daily-update h2 {
		margin-top: 20px;
		color:#000;
	}
	.col-lg-12.daily-update-view-all.daily-update {
		display: block;
	}
	.inner-section-space {
		margin-top: 20px;
	}
	section.banner-section.daily-update {
		padding: 0px 5%;
	}
	section.banner-section.side-space.something-block {
		padding-left: 6% !important;
		padding-right: 6% !important;
	}
	
	.background-img-arcle-block h2 {
		margin-bottom: 30px;
		color:#fff; 
	}
	.background-img-arcle-block ul.name-date{
		margin-bottom:0px;
	}
	.related-article .daily-update img {
		height: 220px;
		border: solid 1px #000;
	}
	section.banner-section.related-article img {
		margin-top: 0px;
	}
	.related-article .daily-update {
		margin-bottom: 40px;
	}
	a.hover-target {
		!border-bottom: 3px solid #00b2d2;
		!color: #00b2d2;
	}
	ul.name-date li a {
		color: #000;
	}
	a.hover-target:hover {
		!color: #00b2d2;
		text-decoration:none;
		box-shadow:none;
	}
	a.hover-target::before {
		position: absolute;
		content: '';
		left: 50%;
		bottom: -1px;
		height: 2px;
		width: 0;
		transform: translateX(-50%);
		background: linear-gradient(45deg, #3868b0, #3868b0);
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
	}
	.related-article h2 {
		margin-bottom: 30px;
		color:#000;
	}
	div#content {
		padding-bottom: 0px !important; 
	}
	.related-article a.anhor-hover {
		display: block;
		width: 100%; 
	}
	.calltoaction-sec p {
		margin-bottom: 30px;
		color: #fff;
	} 
	.side-space.right-buton {
		float: right;
	}
	.calltoaction-sec .side-space.right-buton {
		float: left;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.calltoaction-sec .side-space.right-buton ul.case-study-wrapper {
		margin-bottom: 0px;
	}
	.calltoaction-sec {
		padding: 80px 60px;
		background-size: cover;
		background-attachment: fixed;
	}
	@media (min-width:320px) and (max-width:550px){
		.daily-update.recommended-text {
			padding-left: 15px;
			padding-right: 15px;
		}
		.related-article .daily-update img {
			margin-bottom: 0px;
		}
		.related-article .daily-update .col-lg-4.col-sm-4, .related-article .daily-update .col-lg-8.col-sm-8 {
			padding: 0px;
		}
		.daily-update{
			padding: 0px 15px;
		}
		.col-lg-12.daily-update a {
			padding: 0px;
		}
		.daily-update h2 {
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 10px 0px 0px;
			
		}
		.related-article .daily-update {
			margin-bottom: 40px;
		}
		.related-article .daily-update.post h2 {
			font-size: 25px;
			font-weight: 600;
			line-height: 30px;
			-webkit-font-smoothing: antialiased;
		}
		section.banner-section.related-article.side-space{
			margin-bottom:0px;
		}
		section.related-article.side-space .col-lg-12.daily-update.post {
			display: block;
		}
	}
	@media (min-width:551px) and (max-width:767px){ 
		.related-article .daily-update img {
			margin-bottom: 0px;
			object-fit: cover;
		}
		.related-article .daily-update .col-lg-4.col-sm-4, .related-article .daily-update .col-lg-8.col-sm-8 { 
			padding: 0px;
			margin:0px;
			text-align:center;
			width:100%;
		}
		.daily-update{
			padding: 0px 15px;
		}
		.col-lg-12.daily-update a {
			padding: 0px;
		}
		.daily-update h2 {
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 10px 0px 0px;
		}
		.related-article .daily-update {
			margin-bottom: 40px;
		}
		.related-article .daily-update.post h2 {
			font-size: 25px;
			font-weight: 600;
			line-height: 30px;
			-webkit-font-smoothing: antialiased;
		}
		section.banner-section.related-article.side-space{
			margin-bottom:0px;
		}
		section.related-article.side-space .col-lg-12.daily-update.post {
			display: block;
		}
	}
	@media (min-width:768px) and (max-width:999px){
		.col-lg-12.daily-update a.anhor-hover .col-lg-4.col-sm-4 {
			padding-left: 0px;
		}
	}