a {
	color:#000;
}
.site-branding.side-space{
	position:relative;
}
.entry-content {
    margin-top: 120px;
}
.wrap {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.box {
  transform: translateY(0px);
}
.box {
    transition: 1s;
}
h1{
	font-size:40px;
	padding:0px;
	margin:0px 0px 30px;
	line-height:40px;
	font-weight:600;
}
.banner-content h1 {
    color: #000;
	font-size: 40px;
}
h2{
	padding:0px;
	margin:0px;
}
.item h1 {
    margin-bottom: 20px;
}
p {
    margin: 0;
}
ul.name-date li a:hover {
    color: #000;
}
section.banner-section.related-article h2 a:hover {
    color: #000;
}
section.banner-section {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 80px;
} 
.single-featured-image-header{
	display:none;
}
	.banner-content {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 20px;
    background-color: #ffffff94;
    padding-bottom: 0px;
}
.banner-content h1{
    text-align: center;
}
	.my-featured-image {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	img.single-featured-image {
		width: 100%;
		height:630px;
		object-fit: cover; 
	}
	ul.name-date {
		display: inline-flex;
		list-style-type: none;
		margin-bottom: 20px;
	}
	ul.name-date li {
		padding:2px 15px;
		list-style-type: none;
	}
	ul.name-date li:first-child {
		padding-left: 0px;
		border-right: solid 2px #000;
	}
	.daily-update {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0px;
	}
	.related-article h2 {
		margin-bottom: 15px;
	}
	div#content {
		padding-bottom: 0px !important;
	}
	section.banner-section .row {
		padding: 0;
		margin: 0;
	}
	.white-section {
		padding: 5% 12% 0px;
		margin-top: -20%;
		background: #fff;
	}
	.white-section p {
		font-size:20px;
		line-height: 36px;
		font-weight:400;
		margin-bottom: 20px;
	}
	.related-article .daily-update img {
		height: 220px;
		border: solid 1px #000;
		object-fit:cover;
		width:100%;
	}
	section.banner-section.related-article img {
		margin-top: 0px;
	}
	.related-article .daily-update {
		margin-bottom: 40px;
	}
	.related-article h2 {
		margin-bottom: 30px;
		color:#000;
	}
	h2.recommen:after {
		content: " ";
		width: 250px;
		height: 6px;
		border-radius: 50px;
		border: solid 1px #fb0b7e;
		/* padding: 2px; */
		background: #fb0b7e;
		position: absolute;
		margin-left: 40px;
		margin-top: 20px;
	}
	a.anhor-hover:hover{
		text-decoration: none;
	}
	a.anhor-hover:hover h2, a.anhor-hover:hover ul {
		color: #000;
		text-decoration: none;
	}
	section.banner-section.related-article ul.name-date {
		margin-bottom: 0;
	}
	.related-article a.anhor-hover {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
	}
	.daily-update.recommended-text {
		padding-left: 15px;
		padding-right: 15px; 
	}
	section.banner-section.side-space.related-article {
		margin-bottom: 0px;
	}
	@media (min-width:320px) and (max-width:550px){
		img.single-featured-image {
			height: 450px;
		}
		.white-section {
			padding: 5% 0px 0px;
		}
		.white-section img {
			width: 100%;
		}
		h2.recommen:after{
			width: 90px;
			height: 4px;
			margin-left: 15px;
			margin-top: 15px;
		}
		.daily-update.recommended-text {
			padding-left: 0px;
			padding-right: 0px;
			margin-bottom:20px;
		}
		.related-article .daily-update img {
			margin-bottom: 15px;
		}
		.related-article .daily-update .col-lg-4.col-sm-4, .related-article .daily-update .col-lg-8.col-sm-8 {
			padding: 0px;
		}
		.daily-update{
			padding: 0px;
		}
		h2.recommen {
			font-size: 25px;
			line-height: 30px;
			font-weight: 600;
		}
		.white-section p {
			text-align: justify;
		}
		.related-article h2 {
			margin-bottom: 8px;
			font-size: 25px;
			font-weight: 600;
			line-height: 30px;
		}
		.banner-content h1 {
			font-size: 40px;
			line-height: 55px;
			font-weight: 900;
		}
		section.banner-section {
			margin-bottom: 30px;
		}
		.related-article .daily-update.post h2 {
			font-size: 25px;
			font-weight: 600;
			line-height: 30px;
			-webkit-font-smoothing: antialiased;
		}
		.white-section p{
			font size:18px; 
			line-height:30px;
		}
		.white-section {
			margin-top: 0%;
		}
		.related-article .col-lg-12.daily-update {
			display: block;
		}
	}
	@media (min-width:551px) and (max-width:767px){
		img.single-featured-image {
			height: 450px;
		}
		.white-section {
			padding: 5% 0px 0px;
		}
		.white-section img {
			width: 100%;
		}
		h2.recommen:after {
			width: 150px;
			height: 4px;
			margin-top: 15px;
			margin-left: 15px;
		}
		.daily-update.recommended-text {
			margin-bottom:20px;
		}
		.related-article .daily-update img {
			margin-bottom: 15px;
			object-fit: cover;
		}
		.related-article .daily-update .col-lg-4.col-sm-4, .related-article .daily-update .col-lg-8.col-sm-8 { 
			padding: 0px;
			margin:0px;
			text-align:center;
			width:100%;
		}
		.daily-update{
			padding: 0px;
		}		
		h2.recommen {
			font-size: 25px;
			line-height: 30px;
			font-weight: 600;
		}
		.white-section p {
			text-align: justify;
		}
		.daily-update.recommended-text {
			padding-left: 0px;
			padding-right: 0px;
		}
		.related-article h2 {
			margin-bottom: 8px;
			font-size: 25px;
			font-weight: 600;
			line-height: 30px;
			
		}
		.banner-content h1 {
			font-size: 40px;
			line-height: 55px;
			font-weight: 900;
		}
		section.banner-section {
			margin-bottom: 30px; 
		}
		.related-article .daily-update.post h2 {
			font-size: 25px;
			font-weight: 600;
			line-height: 30px;
			-webkit-font-smoothing: antialiased;
		}
		.white-section p{
			font size:18px; 
			line-height:30px;
		}
		.white-section {
			margin-top: 0%;
		}
		.related-article .col-lg-12.daily-update {
			display: block;
		}
	}
	@media (min-width:768px) and (max-width:999px){
		img.single-featured-image {
			height: 450px;
		}
		.white-section {
			padding: 5% 15px 0px;
		}
		.white-section img {
			width: 100%;
		}
		.col-lg-12.daily-update a.anhor-hover .col-lg-4.col-sm-4 {
			padding-left: 0px;
		}
	}
	@media (min-width:1000px) and (max-width:1100px){
		.white-section {
			padding: 5% 30px 0px;
		}
		.col-lg-12.daily-update a.anhor-hover .col-lg-4.col-sm-4 {
			padding-left: 0px;
		}
	}
	@media (min-width:1600px){
		.white-section {
			margin-top: -15%;
		}
	}