/* NEED TO FIX ACTIVE CROPPED BULLET - OVERFLOW HIDDEN ISSUE */

  .loading-bar__wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 60px 60px 30px;
    box-shadow: 0 8px 10px rgba(223, 230, 241, 0.5);
    z-index: 99;
  }
  .loading-bar__wrapper label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 12px;
    font-style: italic;
    font-weight: bold;
    color: #00ffa4;
  }
  .loading-bar {
    background: #00ffa4;
    height: 8px;
    border-radius: 100px;
    justify-content: space-around;
  }
  .loading-bar-bullet::before {
    content: "";
    display: block;
    background: #445058;
    height: 16px;
    width: 16px;
    border-radius: 100px;
    z-index: 999;
    margin-top: -4px;
    border: 5px solid white;
    cursor: pointer;
  }
  .slick-current.loading-bar-bullet::before {
    height: 18px;
    width: 18px;
    margin-top: -5px;
    margin-left: -9px; /* Center bullet - Half .slick-current width*/
    border: 3px solid white;
  }
  .labels {
    margin-top: 50px;
    text-align: center;
  }
  
  /* Arrows */
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 32px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 32px;
    line-height: 1;
    opacity: 0.75;
    color: #000000;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-prev {
    left: -40px;
  }
  .slick-prev:before {
    content: "\f104";
  }
  .slick-next {
    right: -40px;
  }
  .slick-next:before {
    content: "\f105";
  }
  
  .qb-button {
    display: inline-block;
    background: #00ffa4;
    border-radius: 100px;
    padding: 5px 15px;
    margin-bottom: 15px;
    color: #445058;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
  }
  .qb-button:hover {
    color: #000;
  }

  .img-land-decor{position:relative;display:block;margin:0 auto;margin-top:6%;width:60%}